################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MASA.Stack.Sdks/DesignTimeBuild
/.vs/MASA.Stack.Sdks
/.vs/ProjectEvaluation
